.card-label__container {
  position: absolute; /*PARA PODE FICAR NA FRENTE DO CARD QUE CONTÉM A IMG*/
  bottom: 90px;
  right: 0;/*FICAR FIXADO A DIREITA DO PAI DELE (CARD)*/
}

.card-lavel__content{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #0d0d0df5;
 color: #FFFFFF;
 font-size: 12px;
 font-weight: bold;
 letter-spacing: 2px;
 height: 40px;
 padding: 0px 50px;
}
