
<div class="home__container">

  <app-card
    gameCover="../../../assets/img/bt-1.jpg"
    gameLabelFilho="DIGITAL"
    gameTypeFilho="DIGITAL | PS4"
    gamePriceFilho="R$ 129,99"
  >
  </app-card>
  <app-card
    gameCover="../../../assets/img/bt-4.jpg"
    gameLabelFilho="EXCLUSIVE"
    gameTypeFilho="DISC | PS5"
    gamePriceFilho="R$ 268,89"
  >
  </app-card>
  <app-card
    gameCover="../../../assets/img/bt-5.jpg"
    gameLabelFilho="EXCLUSIVE"
    gameTypeFilho="DISC | PS5"
    gamePriceFilho="R$ 168,89"
  >
  </app-card>
  <app-card
    gameCover="../../../assets/img/ac-cover.jpg"
    gameLabelFilho="BEST OF YEAR"
    gameTypeFilho="DISC | PS5"
    gamePriceFilho="R$ 288,99"
  >
  </app-card>
  <app-card
  gameCover="../../../assets/img/bt-hardline.jpg"
  gameLabelFilho="EXCLUSIVE"
  gameTypeFilho="DISC | PS5"
  gamePriceFilho="R$ 168,89"
>
</app-card>
</div>
